.gridProductlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 2rem;
  margin-left: 5rem;
}

.imageProductlist {
  width: 250px;
  border: 2px solid #5c886eb9;
  margin-top: 1rem;
}

/*knapper*/
.readmore {
  border: 2rem;
  margin-top: 1rem;
  margin: 0rem;
  width: 35%;
  margin-bottom: 3.5rem;
}

.readmore:hover {
  transform: scale(1.1);
}

.back {
  width: 8%;
  margin-left: 5rem;
}

.back:hover {
  transform: scale(1.1);
}

main h1 {
  margin-left: 40.5rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

button {
  margin-left: 5rem;
  margin-top: 4rem;
}

@media (max-width: 767px) {
  main h1 {
    margin-left: 5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  main h2 {
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .back {
    width: 25%;
    margin-left: 5rem;
    margin-top: 0rem;
  }

  .readmore {
    margin: 0rem;
    width: 35%;
    margin-top: 1rem;
  }
}
